openapi: 3.0.0
info:
  contact:
    email: support@arborxr.com
    name: ArborXR
    url: https://arborxr.com
  description: This API provides a RESTful interface to interact with your organization's
    devices under management.
  termsOfService: https://arborxr.com/terms-of-service/
  title: ArborXR MDM API
  version: v3
servers:
- url: https://api.xrdm.app/api/v3
paths:
  /token-info:
    get:
      description: "Get information about the currently authenticated API token, including\
        \ its name, API version, and associated organization."
      operationId: GetTokenInfo
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTokenInfo_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
      security:
      - BearerAuth: []
      tags:
      - API Info
    servers:
    - url: https://api.xrdm.app/api
  /:
    get:
      description: Get info about the API.
      operationId: GetApiInfo
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiInfo_200_response"
          description: Success
      tags:
      - API Info
  /current-organization:
    get:
      description: Get the current organization.
      operationId: GetCurrentOrganization
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentOrganization_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Organizations
  /current-user:
    get:
      description: Get the current user.
      operationId: GetCurrentUser
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUser_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
  /users:
    get:
      description: Get a paginated list of users in your organization. Results are
        ordered by `created_at` (descending) and `id` (ascending) to ensure stable
        pagination.
      operationId: GetUsers
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUsers_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
    post:
      description: "Create a new user in your organization. **Best Practice:** For\
        \ most use cases, we recommend using [`CreateUserInvite`](#operation/CreateUserInvite).\
        \ This automatically emails the user a link to set their password and log\
        \ in. Use [`CreateUser`](#operation/CreateUser) only if authentication is\
        \ handled via *SSO*. If used for standard accounts, users will not receive\
        \ an email and must manually navigate to [https://app.arborxr.com](https://app.arborxr.com)\
        \ to trigger a *Forgot Password* flow to access their account."
      operationId: CreateUser
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser_request"
        description: Create a new user
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUser_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
  /users/{userId}:
    delete:
      description: Delete a user.
      operationId: DeleteUser
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
    get:
      description: Get a single user.
      operationId: GetUser
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUser_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
    put:
      description: Update a user.
      operationId: UpdateUser
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUser_request"
        description: Update a user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUser_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Users
  /user-invites:
    post:
      description: Invite a user to your organization.
      operationId: CreateUserInvite
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInvite_request"
        description: The fields required to invite a user.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - User Invites
  /roles:
    get:
      description: Get a list of roles. Results are ordered by `created_at` (descending)
        and `id` (ascending) to ensure stable pagination.
      operationId: GetRoles
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoles_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Roles
  /roles/{roleId}:
    get:
      description: Get a single role.
      operationId: GetRole
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a role.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCurrentUser_200_response_accessControls_inner_role"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Roles
  /app-bundles:
    post:
      description: Create a new app bundle from existing build and files.
      operationId: CreateAppBundle
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAppBundle_request"
        description: Create a new app bundle from existing build and files. Labels
          are auto-generated.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response"
          description: App bundle created successfully.
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
  /app-bundles/{appBundleId}:
    get:
      description: Get a specific app bundle by ID.
      operationId: GetAppBundle
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app bundle.
        explode: false
        in: path
        name: appBundleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response"
          description: App bundle details response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
    patch:
      description: Update an app bundle's label. The label can be set to null to remove
        it.
      operationId: UpdateAppBundle
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app bundle.
        explode: false
        in: path
        name: appBundleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAppBundle_request"
        description: Update an app bundle's label. Set to null to remove the label.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response"
          description: App bundle details response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
  /app-bundles/{appBundleId}/files:
    get:
      description: Get all files for a specific app bundle.
      operationId: GetAppBundleFiles
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app bundle.
        explode: false
        in: path
        name: appBundleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppBundleFiles_200_response"
          description: App bundle files list response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
    post:
      description: Add files to an existing app bundle.
      operationId: AddFilesToAppBundle
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app bundle.
        explode: false
        in: path
        name: appBundleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddFilesToAppBundle_request"
        description: Files to add to the app bundle
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response"
          description: App bundle details response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
  /app-bundles/{appBundleId}/finalize:
    post:
      description: Finalize an app bundle by setting its status to processing after
        validating all related builds and files are not pending.
      operationId: FinalizeAppBundle
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app bundle.
        explode: false
        in: path
        name: appBundleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response"
          description: App bundle details response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - App Bundles
  /apps:
    get:
      description: Get a paginated list of apps. Results are ordered by `created_at`
        (descending) and `id` (ascending) to ensure stable pagination.
      operationId: GetApps
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApps_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
    post:
      description: Create a new app.
      operationId: CreateApp
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApp_request"
        description: The app to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApps_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}:
    get:
      description: Get a single app.
      operationId: GetApp
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApps_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
    put:
      description: Update an app.
      operationId: UpdateApp
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApp_request"
        description: The app fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApps_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions:
    get:
      description: Get a paginated list of app versions. Results are ordered by `created_at`
        (descending) and `id` (ascending) to ensure stable pagination.
      operationId: GetAppVersions
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: "Filter app versions by SHA256 checksums. This parameter allows\
          \ you to search for versions matching any of the provided checksums. Maximum\
          \ 10 checksums per request. The checksums should be provided as a query-parameter\
          \ array. e.g. `?sha256[]=abc123&sha256[]=def456`."
        explode: true
        in: query
        name: "sha256[]"
        required: false
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppVersions_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
    post:
      description: Initiate a multipart upload for a new version of an app.
      operationId: InitiateAppVersionUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Specify Existing Release Channel:
                value:
                  filename: my-app.apk
                  releaseChannelId: 123e4567-e89b-12d3-a456-426614174000
              Create New Release Channel:
                value:
                  filename: my-app.apk
                  newReleaseChannelTitle: My New Beta Channel
              Don't Specify Release Channel:
                value:
                  filename: my-app.apk
              Create App Bundle:
                value:
                  filename: my-app.apk
                  appBuildType: app-bundle
            schema:
              $ref: "#/components/schemas/InitiateAppVersionUpload_request"
        description: Initiate a new app version upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateAppVersionUpload_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions/{versionId}/pre-sign:
    post:
      description: Pre-sign URLs for a multipart upload of a new version of an app.
      operationId: PreSignAppVersionUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of an app version.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreSignAppVersionUpload_request"
        description: The fields to retrieve presigned URLs.
      responses:
        "200":
          content:
            application/json:
              example:
              - partNumber: 1
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=1&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 2
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=2&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 3
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=3&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              schema:
                items:
                  $ref: "#/components/schemas/PreSignAppVersionUpload_200_response_inner"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions/{versionId}/complete:
    post:
      description: Complete a multipart upload for a new version of an app.
      operationId: CompleteAppVersionUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of an app version.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteAppVersionUpload_request"
        description: The fields to complete the upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppBundle_201_response_appBuild"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/app-bundles:
    get:
      description: Get a paginated list of app bundles for an app. Results are ordered
        by `created_at` (descending) and `id` (ascending) to ensure stable pagination.
      operationId: GetAppBundles
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      - description: Filter by bundle status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - processing
          - available
          - failed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppBundles_200_response"
          description: App bundles list response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/files:
    get:
      description: Get all bundled files for an app. Results are ordered by `created_at`
        (descending) and `id` (ascending) to ensure stable pagination.
      operationId: GetAppFiles
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      - description: "Filter files by SHA512 checksums. This parameter allows you\
          \ to search for files matching any of the provided checksums. Maximum 10\
          \ checksums per request. The checksums should be provided as a query-parameter\
          \ array. e.g. `?sha512[]=abc123&sha512[]=def456`."
        explode: true
        in: query
        name: "sha512[]"
        required: false
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppFiles_200_response"
          description: App files list response
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels:
    get:
      description: Get a paginated list of release channels for an app. Results are
        ordered by `created_at` (descending) and `id` (ascending) to ensure stable
        pagination.
      operationId: GetAppReleaseChannels
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppReleaseChannels_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels/{releaseChannelId}:
    get:
      description: Get a single release channel for an app.
      operationId: GetAppReleaseChannel
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppReleaseChannels_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
    put:
      description: Update a release channel's target build.
      operationId: UpdateReleaseChannel
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateReleaseChannel_request"
        description: The release channel fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppReleaseChannels_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels/{releaseChannelId}/share:
    post:
      description: Share a release channel with another organization.
      operationId: ShareReleaseChannel
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareReleaseChannel_request"
        description: The details of the organization with which you want to share/unshare
          the release channel.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareReleaseChannel_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels/{releaseChannelId}/unshare:
    post:
      description: Unshare a release channel with another organization.
      operationId: UnshareReleaseChannel
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareReleaseChannel_request"
        description: The details of the organization with which you want to share/unshare
          the release channel.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareReleaseChannel_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/tags/attach:
    patch:
      description: Attach tags to an app.
      operationId: AttachTagsToApp
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachTagsToApp_request"
        description: The tags to attach or detach.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/tags/detach:
    patch:
      description: Detach tags from an app.
      operationId: DetachTagsFromApp
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachTagsToApp_request"
        description: The tags to attach or detach.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Apps
  /files:
    get:
      description: Get a paginated list of files. Results are ordered by `created_at`
        (descending) and `id` (ascending) to ensure stable pagination.
      operationId: GetFiles
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFiles_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
    post:
      description: Initiate a multipart upload for a new file.
      operationId: InitiateFileUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateFileUpload_request"
        description: Initiate a new file upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateFileUpload_200_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}:
    delete:
      description: Delete a file.
      operationId: DeleteFile
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
    get:
      description: Get a single file.
      operationId: GetFile
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppFiles_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}/pre-sign:
    post:
      description: Pre-sign URLs for a multipart upload of a new file.
      operationId: PreSignFileUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreSignAppVersionUpload_request"
        description: The fields to retrieve presigned URLs.
      responses:
        "200":
          content:
            application/json:
              example:
              - partNumber: 1
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=1&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 2
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=2&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 3
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=3&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              schema:
                items:
                  $ref: "#/components/schemas/PreSignFileUpload_200_response_inner"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}/complete:
    post:
      description: Complete a multipart upload for a new file.
      operationId: CompleteFileUpload
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteFileUpload_request"
        description: The fields to complete the upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppFiles_200_response_data_inner"
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                example:
                  message: Internal Server Error
                type: object
          description: Internal Server Error
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}/tags/attach:
    patch:
      description: Attach tags to a file.
      operationId: AttachTagsToFile
      parameters:
      - explode: false
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
        style: simple
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachTagsToApp_request"
        description: The tags to attach or detach.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
[...]
